# Peer-graded Assignment of Tools for Data Science :

## There are a total of 25 points possible for this final project.
Exercise 1 - Create a jupyter notebook
:

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the 

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)Author’s name. (2 pts)

## Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

In this notebook, we summarize various tools and components that make up the Data Science ecosystem. Data Science involves a combination of disciplines, including statistics, machine learning, data processing, and visualization. This ecosystem provides tools and resources to support the entire data lifecycle—from data collection to building machine learning models to deploying solutions

### Objectives
1) List of common used Languages in data science
2) List of common used libraries in data science
3) List of common tools used by data scientist

## Exercise 4 - Create a markdown cell to list data science languages

1) Python
2) R
3) SQL
4) JAVA
5) JULIA
6) C/C++
7) JAVASCRIPT
8) SCALA

## Exercise 5 - Create a markdown cell to list data science libraries
1) TensorFlow
2) NumPy
3) SciPy
4) Matplotlib
5) Pandas
6) PyBrain
7) PyTorch
8) SciKit-Learn
9) Keras

## Exercise 6 - Create a markdown cell with a table of Data Science tools
1) Apache Spark
2) MatLab
3) Tableau
4) BigML
5) SAS
6) PowerBI
7) Apache Hadoop

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

## Introduction to Arithmetic Expressions

Arithmetic expressions allow us to perform mathematical operations using numbers and symbols. In programming, arithmetic expressions are fundamental as they enable us to carry out calculations, assignments, and other operations. Here are some basic examples of arithmetic expressions:

- **Addition (`+`)**: Adds two values.  
  Example: `5 + 3` results in `8`.

- **Subtraction (`-`)**: Subtracts one value from another.  
  Example: `10 - 4` results in `6`.

- **Multiplication (`*`)**: Multiplies two values.  
  Example: `7 * 2` results in `14`.

- **Division (`/`)**: Divides one value by another.  
  Example: `12 / 3` results in `4`.

- **Exponentiation (`**`)**: Raises a number to the power of another.  
  Example: `2 ** 3` results in `8`.

- **Modulo (`%`)**: Finds the remainder when one value is divided by another.  
  Example: `10nd problem-solving.
```

## Exercise 8 - Create a code cell to multiply and add numbers
This a simple arithmetic expression to mutiply then add integers

In [48]:
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours
This will convert 200 minutes to hours by diving by 60

In [59]:
minutes = 200
hours = minutes / 60
print(str(hours) + " hours, ")

3.3333333333333335 hours,

## Exercise 10 - Insert a markdown cell to list Objectives
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:
Nikhil Arya